@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Rubik";
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    background: #141414;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding-top: 20px;
    background: #141414;
    box-shadow:  9px 9px 18px #0d0d0d,
                 -9px -9px 18px #1b1b1b;

    height: 110px;
    align-items: center;
}

h1 {
    font-size: 40px;
}

.sub {
    font-size: 35px;
}

header > * {
    display: block;
    transform: translateY(-10px);
}

.add {
    border-radius: 76px;
    background: #141414;
    box-shadow:  13px 13px 33px #090909,
                 -13px -13px 33px #1f1f1f;

    border: none;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}

main {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

article {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    padding-top: 20px;
    background: #141414;
    box-shadow:  9px 9px 18px #0d0d0d,
                 -9px -9px 18px #1b1b1b;

    height: 200px;
    align-items: center;
}

.cmd-title {
    background: #0c0c0c; 
    padding: 5px;
}

article ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
}

article ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #141414;
    border-radius: 10px;
    box-shadow:  13px 13px 33px #090909,
                 -13px -13px 33px #1f1f1f;
    padding: 5px;
}